@import '../constants.scss';

.films-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .search__filter {
        &__title {
            margin-right: 10px;
        }

        button {
            border: none;
            margin: 0;
            cursor: pointer;
            background-color: inherit;

            &.active {
                color: $red;
            }
        }
    }
}