{
  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-strict-mode"
      ],
      "presets": [
        ["react"],
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            },
            "modules": false
          }
        ]
      ],
      "minified": true,
      "comments": false,
      "compact": true
    },
    "development": {
      "plugins": [
        "transform-runtime",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-strict-mode"
      ],
      "presets": [
        ["react"],
        [
          "env",
          {
            "debug": true,
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ]
      ]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "flow": {
      "plugins": [
        "transform-runtime",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-strict-mode"
      ],
      "presets": [
        ["react", "flow"],
        [
          "env",
          {
            "debug": true,
            "targets": {
              "browsers": [
                "last 2 versions"
              ]
            }
          }
        ]
      ]
    }
  }
}